<!DOCTYPE html>
<html>
  <head>
    <title>IconGraph</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <section class="section">
      <div class="notice">
        <%= notice %>
      </div>
      <div class="alert">
        <%= alert %>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

  </body>
</html>
